<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutorial 1</title>
    <!--Style and Css-->
    <!--Page loader Css-->
    <link rel="stylesheet" type="text/css" href="css/loader.css" />
    <div class="loader">
      <img
        src="https://media1.tenor.com/images/ef244472e7d05a25f8a7fbc3df430ab5/tenor.gif?itemid=16910029"
        alt="Cargando.."
      />
      <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!---->
    <!--Vue Js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!---->
  </head>
  <body>
    <div id="elemento">
      {{contenido}}
      <div>
        <input
          type="text"
          v-model="nuevoLenguaje"
          @keyup.enter="agregarLenguaje"
        />
        <input type="text" v-model="nuevoLink" @keyup.enter="agregarLenguaje" />
        <input type="number" v-model.number="nuevoPunto" @keyup.enter="agregarLenguaje" />
        <button @click="agregarLenguaje">Agregar Lenguaje</button>
      </div>
      <div>
        <ul>
          <span><b>Lenguajes:</b></span>
          <li v-for="lenguaje of lenguajes">
            <a :href="lenguaje.link" target="_blank"> {{lenguaje.nombre}} </a>
            <span style="color: blue;"> : {{lenguaje.puntos}} </span>
            <button @click="lenguaje.puntos++">+</button>
            <button @click="lenguaje.puntos--">-</button>
          </li>
        </ul>
        <span>Puntos totales:{{sumarPuntaje}} </span>
      </div>
    </div>
  </body>
  <!--Scripts-->
  <!--Loader Script-->
  <script src="js/loader.js"></script>
  <!--vue Script-->
  <script src="js/vue1.js"></script>
  <!---->
</html>
